@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';
@import '~bootstrap/scss/bootstrap';

html, body {
  background-color: $body-background;
  color: #636b6f;
  font-family: $font-family;
  font-weight: 200;
  margin: 0;
  min-height: 100vh;
  
  .content {
    text-align: center;
  }

  .flex-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
 
  .full-height {
    height: 100vh;
  }

  h1 {
    margin: 30px 0px 10px;
    text-align: center;
  }

  .navbar-top {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

    .navbar-brand > img {
      margin-right: 10px; 
      width: 30px;
    }

    form {
      display: none;
    }
  }
}